
services:
  postgres:
    image: ghcr.io/getzep/postgres:postgres-15
    shm_size: 128mb
    environment:
      - POSTGRES_USER=${SERVICE_USER_POSTGRES}
      - POSTGRES_PASSWORD=${SERVICE_PASSWORD_POSTGRES}
    volumes:
      - zep_pg_data:/var/lib/postgresql/data
    healthcheck:
      test:
        - CMD-SHELL
        - "pg_isready -h localhost -U $${POSTGRES_USER} -d postgres"
      interval: 5s
      timeout: 5s
      retries: 5
  nlp:
    image: ghcr.io/getzep/zep-nlp-server:0.4
    environment:
      - SERVICE_URL_NLP_5557
      - ZEP_API_KEY=${ZEP_API_KEY}
      - ZEP_OPENAI_API_KEY=${ZEP_OPENAI_API_KEY}
      - ZEP_AUTH_SECRET=${SERVICE_PASSWORD_AUTHSECRET}
      - ZEP_SERVER_WEB_ENABLED=${ZEP_SERVER_WEB_ENABLED:-false}
    healthcheck:
      test: "timeout 10s bash -c ':> /dev/tcp/127.0.0.1/5557' || exit 1"
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 45s
  zep:
    image: ghcr.io/getzep/zep:latest
    depends_on:
      postgres:
        condition: service_healthy
      nlp:
        condition: service_healthy
    environment:
      - SERVICE_URL_ZEP_8000
      - ZEP_STORE_POSTGRES_DSN=postgres://${SERVICE_USER_POSTGRES}:${SERVICE_PASSWORD_POSTGRES}@postgres:5432/postgres?sslmode=disable
      - ZEP_NLP_SERVER_URL=http://nlp:5557
      - ZEP_EXTRACTORS_DOCUMENTS_EMBEDDINGS_SERVICE=${EXTRACTORS_DOCUMENTS_EMBEDDINGS_SERVICE:-openai}
      - ZEP_EXTRACTORS_DOCUMENTS_EMBEDDINGS_DIMENSIONS=${EXTRACTORS_DOCUMENTS_EMBEDDINGS_DIMENSIONS:-1536}
      - ZEP_EXTRACTORS_MESSAGES_EMBEDDINGS_SERVICE=${EXTRACTORS_MESSAGES_EMBEDDINGS_SERVICE:-openai}
      - ZEP_EXTRACTORS_MESSAGES_EMBEDDINGS_DIMENSIONS=${EXTRACTORS_MESSAGES_EMBEDDINGS_DIMENSIONS:-1536}
      - ZEP_EXTRACTORS_MESSAGES_SUMMARIZER_EMBEDDINGS_SERVICE=${EXTRACTORS_MESSAGES_SUMMARIZER_EMBEDDINGS_SERVICE:-openai}
      - ZEP_EXTRACTORS_MESSAGES_SUMMARIZER_EMBEDDINGS_DIMENSIONS=${EXTRACTORS_MESSAGES_SUMMARIZER_EMBEDDINGS_DIMENSIONS:-1536}
      - ZEP_API_KEY=${ZEP_API_KEY}
      - ZEP_AUTH_SECRET=${SERVICE_PASSWORD_AUTHSECRET}
      - ZEP_SERVER_WEB_ENABLED=${ZEP_SERVER_WEB_ENABLED:-false}
      - ZEP_OPENAI_API_KEY=${ZEP_OPENAI_API_KEY}
      - STORE_TYPE=${STORE_TYPE}
      - SERVICE_USER_POSTGRES=${SERVICE_USER_POSTGRES}
      - SERVICE_PASSWORD_POSTGRES=${SERVICE_PASSWORD_POSTGRES}
    ports:
      - "8900:8000"
    volumes:
      - 
        type: bind
        source: ./config.yaml
        target: /app/config.yaml
        content: |
          llm:
            service: "openai"
            model: "gpt-4o-mini"
            azure_openai_endpoint: ""
            azure_openai:
              llm_deployment: ""
              embedding_deployment: ""
            openai_endpoint: ""
            openai_org_id: ""
          
          nlp:
            server_url: "http://nlp:5557"
          
          memory:
            message_window: 12
          
          extractors:
            documents:
              embeddings:
                enabled: true
                chunk_size: 1000
                dimensions: 384
                service: "local"
            messages:
              summarizer:
                enabled: true
                entities:
                  enabled: true
                embeddings:
                  enabled: true
                  dimensions: 384
                  service: "local"
              entities:
                enabled: true
              intent:
                enabled: true
              embeddings:
                enabled: true
                dimensions: 384
                service: "local"
          
          store:
            type: "postgres"
            postgres:
              dsn: "postgres://${SERVICE_USER_POSTGRES}:${SERVICE_PASSWORD_POSTGRES}@postgres:5432/postgres?sslmode=disable"
          
          server:
            host: 0.0.0.0
            port: 8000
            web_enabled: true
            max_request_size: 5242880
          
          auth:
            required: true
            secret: "${ZEP_AUTH_SECRET}"
          
          data:
            purge_every: 60
          
          log:
            level: "info"
          
          opentelemetry:
            enabled: false
          
          custom_prompts:
            summarizer_prompts:
              anthropic: ""
              openai: ""

    healthcheck:
      test: "timeout 10s bash -c ':> /dev/tcp/127.0.0.1/8000' || exit 1"
      interval: 5s
      timeout: 10s
      retries: 3
      start_period: 40s
